body {
  font-family: "league-spartan";
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FONTS */
@font-face {
  font-family: "league-spartan";
  src: url("../fonts/LeagueSpartan-Bold.otf");
}
@font-face {
  font-family: "lato";
  src: url("../fonts/Lato-Regular.ttf");
}
input[type="text"]:focus {
  border: 1px solid red;
}
input[type="text"] {
  background: #f9f9f9;
  border: 0;
  color: #b3b3b3;
  padding: 10px;
}

.container-main {
  width: 100%;
  height: 100%;
  background-image: url("../img/background.svg");
  background-size: cover;
  background-color: #0581c6;
}
.title > h1 {
  color: #fcaa24;
}
.title > h4 {
  color: white;
}
.card {
  height: 330px;
  width: 660px;
  text-align: center;
}
.card-body > .card-title > h1 {
  color: #fcaa24;
}
.card-body > .card-title > p {
  color: #3a3a3a;
  font-family: "lato";
}
.card-body > .card-title > p > span {
  color: #0581c6;
}
.logo-skull {
  bottom: 0;
  position: absolute;
  margin-bottom: 20px;
}
.btn-submit {
  border: 0;
  padding: 10px 0px;
  background: #fcaa24;
  color: white;
  width: 160px;
  margin: 6px;
}
/* CONFIRM EMAIL STYLES */
.card-confirm-email {
  height: 661px;
}
.btn-ws {
  background: #52c139;
  color: white;
  border: 0;
  width: 80%;
  padding: 20px;
  border-radius: 12px;
}
.card-title > h5 {
  color: #3a3a3a;
}
/* STYLES INICIO */
.container-inicio {
  height:100% ;
}
.container-background {
  /* background-image: url("../img/background.svg"); */
  height: 88%;
  background-size: cover;
}
.container-header{
  overflow: hidden;
  background-image: url("../img/bg_1.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
}
.img-banner {
  position: relative;
}
.img-banner > img {
  position: absolute;
  bottom: -86px;
  width: 100%;
}
.text-banner {
  padding: 100px 0px 0px 100px;
}
.w-45 {
  width: 220px;
}
.text-banner > p {
  font-family: "lato";
  font-size: 18px;
}
.text-banner > h3,
.text-banner > h4,
.text-banner > p {
  color: white;
}
.text-banner > h1 {
  color: #fcaa24;
}
.container-banner > .text-banner,
.container-banner > .img-banner {
  width: 50%;
}
.container-banner {
  height: 100%;
}
.row {
  margin: 0;
}
.bg-points-card {
  position: relative;
}
.img-points-yellow {
  position: absolute;
  z-index: 0;
  top: -40px;
  left: -40px;
}
.card-3{
  height: 360px;
  margin-top: 20px;
}
.card-1{
  height: 320px;
  margin-top: 20px;
}
.height-col{
  /* height: 320px; */
}
.height-col__dia3>.card-inicio,.height-col__dia3{
  /* height: 400px; */
}
.card-inicio {
  /* height: 320px; */
  margin-bottom: 20px !important;
  min-height: max-content;
  z-index: 1;
  border: 4px solid #fcaa24;
}
.w-98{
  width: 98%;
}
.img-calendar {
  z-index: 0;
  position: absolute;
  margin-left: -1px;
  margin-top: -1px;
  width: 140px;
}
.date {
  height: 140px;
  z-index: 1;
  position: absolute;
  width: 138px;
  color: white;
}
.w-90 {
  width: 90% !important;
}
.w-80 {
  width: 80% !important;
}
.title-card-inicio > h1 {
  color: #fcaa24;
}
.title-card-inicio > h1 > span,
.title-card-inicio > h4 {
  color: #006ab0;
}
.container-calendar{
  /* background-image: url("../img/Grupo91.svg"); */
  background-size:cover;
}
.text-comunidad{
  width: 60%;
}
.text-comunidad>h4{
  color:#006ab0;
}
.text-comunidad>p{
  font-family: 'lato';
}
ul {
  margin-top: 8px;
  line-height: 30px;
  color: #3a3a3a;
  list-style: none; /* Quitamos los marcadores */
  padding: 0; /* Quitamos el padding por defecto de la lista */
  margin-left: 10px; /* Separamos la lista de la izquierda */
}

.img-points-yellow2 {
  position: absolute;
  z-index: 0;
  top: -40px;
  right: -20px !important;

}
.img-points-yellow3 {
  position: absolute;
  z-index: 0;
  top: -9px;
  right: -69px !important;

}
li::before {
  /* Añadimos contenido antes de cada elemento de la lista */
  content: "\2022"; /* Insertamos el marcador */
  padding-right: 8px; /* Establecemos el espacio entre las viñetas y el list item */
  color: #fcaa24; /* Coloreamos la viñeta */
}
li > span {
  color: #fcaa24;
}
.quiero-participar{
  height: 300px;
  width: 100%;
  background-image: url("../img/fondo-ingles.png");
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color:white;
}
.quiero-participar>h1{
  width: 80%;
}
.teacher{
  height: 460px;
}
.teacher-text{
  height: 300px;
}
.text-axel{
  padding: 20px;
  font-size: 16px;
  width: 70%;
  text-align: justify;
}
.line-blue{
  width: 80px;
  border-top: 4px solid #006AB0;
}
.img-teacher>img{
  width: 80%;
}
.img-teacher{
  height: 320px;
  margin-bottom: 60px;
}
.text-axel>p{
  font-family: 'lato';
}
footer{
  padding: 12px;
  position: relative;
  bottom: -28px;
  width: 100%;
  height: 60px;
  background: #006ab0;
  margin-top: 60px;
  display: flex;
}
.text-footer{
  margin-right: 20px;
  font-family: 'lato';
  color:white;
}
.row-list{
  height: 140px;
}
.card-social-network{
  padding: 20px;
  height: 160px;
margin-top: 10px;
  /* text-align: center; */
}
.youtube{
  border: 4px solid #F90E0E;
}
.youtube>p>b{
  color:#F90E0E;
}
.download{
  border: 4px solid #FCAA24;
}
.instagram{
  border: 4px solid #6E1CD0;
}
.instagram>p>b{
  color:#6E1CD0;
}
.telegram{
  border: 4px solid #039BE5;
}
.telegram>p>b{
  color:#039BE5;
}
.card-social-network>p{
  font-family: 'lato';
}
.follow-me>img{
  margin-right: 6px;
}
/* MEDIA QUERIES */   
@media screen and (max-height:768px){
  .card {
    /* width: 96%;
    height: 60%;

    overflow-y: scroll; */
    overflow: hidden;
  }
  .card-confirm-email {
    width: 80%;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
  }
}
@media screen and (max-width:1162px){
  .container-banner > .text-banner, .container-banner > .img-banner {
    width: 70%;
  }
}
@media screen and (max-width:991px){
  .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
}
.container-banner > .text-banner,
.container-banner > .img-banner {
  width: 100% !important;
}
.w-90 {
  width: 100% !important;
}
}
@media screen and (max-width:768px){
  .card {
    width: 90%;
    height: 60%;
    overflow: hidden;
    /* overflow-y: scroll; */
  }
  .card-confirm-email {
    width: 99%;
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
  }
.text-comunidad{
  width: 90%;
}

  .img-calendar {

    width: 100px;
  }
  .text-banner {
    padding: 20px;
    text-align: center;
  }
  .container-cards-inicio{
      padding: 4px !important;
  }
  :root{
    font-size: 16px;
  }
  .title-card-inicio{
    padding: 0;
    margin-top: 14px;
    font-size: 18px;
  }
  .text-axel {

  width: 100%;
  }
  .img-teacher>img {
    width: 95%;
  }
  .title-card-inicio> h1{
    font-size: 32px;
    /* margin-left: 40px; */
  }
  .title-card-inicio> h4{
    /* margin-left: 54px; */
  }
  .date{
    text-align: center;
    font-size: 20px;

      height: 100px;
   
      width: 100px;
  }
  .row-list{
    /* margin-top: 10px;
    padding: 10px; */
  }
  .col-sm-12{
    padding: 0;
  }
  .height-col__dia3>.card-inicio, .height-col__dia3 {
    /* height: 420px !important; */
}
.container-calendar{
  height: 122px;
}
.ult-card{
  /* height: 400px; */
}
.height-col{
  height: 360px;
  justify-content: center !important;
}
.ult-col{
  height: 400px !important;

  
}
.row-ult{
  margin-top:80px !important;
}
.quiero-participar>h1{
  font-size: 28px;
}

}
@media screen and (max-width:480px){


  .card-3{
    height: 320px;
  }
  .img-calendar {

    width: 100px;
  }
  .title-card-inicio{
    padding: 0;
    margin-top: 14px;
    font-size: 18px;
    text-align: center;

  }
  .text-banner {
    padding: 20px;
    text-align: center;
  }
  .container-cards-inicio{
      padding: 4px !important;
  }
  :root{
    font-size: 14px;
  }
  .text-axel {

  width: 100%;
  }
  .img-teacher>img {
    width: 95%;
  }
  .title-card-inicio> h1{
    font-size: 26px;
    /* margin-left: 40px; */
  }
  .title-card-inicio> h4{
    /* margin-left: 54px; */
  }
  .date{
    text-align: center;
    font-size: 20px;
  }
  .row-list{
    /* margin-top: 10px;
    padding: 10px; */
  }
  .col-sm-12{
    padding: 0;
  }
  .height-col__dia3>.card-inicio, .height-col__dia3 {
    height: 460px !important;
}
.container-calendar{
  height: 122px;
}
.ult-card{
  /* height: 420px; */
}
.height-col{
  /* height: 360px; */
  justify-content: center !important;
}
.row-ult{
  margin-top:72px !important;
}
.card-inicio{
  overflow: hidden;
  overflow-y: scroll;
}
.quiero-participar>h1{
  font-size: 28px;
}
}
